<%- include('../partials/header'); %>

    <main class="main main-home container text-center">
        <h2 class="main-h2 text-center">
            welcome to my page about the futurama show
        </h2>
        <img src="/media/Futurama2.png" alt="Futurama Poster" class="img-fluid futurama-image">
    </main>

<%- include('../partials/footer'); %>